# Gradle files
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/

# Android Studio
.idea/
.navigation/
*.iml
*.class
local.properties
.DS_Store
Thumbs.db
CAPTURES/

# Keystores
*.keystore
*.jks

# Node modules
node_modules/
npm-debug.log
yarn-error.log
.env

# ESP32
**/sdkconfig
**/firmware.bin
**/bootloader.bin
**/partitions.bin

# Releases
releases/

# Misc
.vscode/
*.log
tmp/
